
@{
    ViewBag.Title = "Tarifler";
    Layout = "~/Views/shared/_layout.cshtml";
}

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/images/background/10.jpg)">
            <div class="auto-container">
                <h1>Recipes</h1>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Product Form Section -->
        <!-- End Keyword Section -->
        <!-- Popular Recipes Section -->
        <section class="popular-recipes-section style-three">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h2>Populer Recipes Posts</h2>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</div>
                        </div>
                        <div class="pull-right">
                            <a href="recipes.html" class="theme-btn btn-style-one"><span class="txt">See all Post</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="outer-container">
                <div class="row clearfix">

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="/images/resource/recipe-1.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="/images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">CHICKEN</div>
                                <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="/images/resource/recipe-2.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="/images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">FEATURED COLLECTION</div>
                                <h4><a href="recipes-detail.html">Cold-Weather Weeknight <br> Dinners</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-3.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">Dinner</div>
                                <h4><a href="recipes-detail.html">Hamburger Steak with Onions and Gravy</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-4.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">Recipe</div>
                                <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-18.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">CHICKEN</div>
                                <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-19.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">FEATURED COLLECTION</div>
                                <h4><a href="recipes-detail.html">Cold-Weather Weeknight <br> Dinners</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-20.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">Dinner</div>
                                <h4><a href="recipes-detail.html">Hamburger Steak with Onions and Gravy</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Recipes Block -->
                    <div class="recipes-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/recipe-21.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <div class="author-image"><a href="author-details.html"><img src="images/resource/author-3.jpg" alt=""></a></div>
                                <div class="category">Recipe</div>
                                <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                                <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                                    <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                                    <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Popular Recipes Section -->
        <!-- Entertaining Section -->
        <section class="entertaining-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <h2>Most Favourited Recipes</h2>
                </div>

                <div class="row clearfix">

                    <!-- Entertaining Block -->
                    <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/entertaining-1.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon "></span>21 Jan ,2020</li>
                                    <li><span class="icon flaticon-comment"></span>4</li>
                                    <li><span class="icon flaticon-heart"></span>5</li>
                                </ul>
                                <h4><a href="recipes-detail.html">Pop-Tarts Dropping New Pretzel Flavors Nationwide</a></h4>
                                <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Entertaining Block -->
                    <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/entertaining-2.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon "></span>21 Jan ,2020</li>
                                    <li><span class="icon flaticon-comment"></span>4</li>
                                    <li><span class="icon flaticon-heart"></span>5</li>
                                </ul>
                                <h4><a href="recipes-detail.html">The Cosmic Crisp Apple Is Here and We’re Already Obsessed</a></h4>
                                <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Entertaining Block -->
                    <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/entertaining-3.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon "></span>21 Jan ,2020</li>
                                    <li><span class="icon flaticon-comment"></span>4</li>
                                    <li><span class="icon flaticon-heart"></span>5</li>
                                </ul>
                                <h4><a href="recipes-detail.html">Good Grief! 9 Ideas for a Charlie Brown Christmas Party</a></h4>
                                <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Entertaining Block -->
                    <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <a href="recipes-detail.html"><img src="images/resource/entertaining-4.jpg" alt=""></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon "></span>21 Jan ,2020</li>
                                    <li><span class="icon flaticon-comment"></span>4</li>
                                    <li><span class="icon flaticon-heart"></span>5</li>
                                </ul>
                                <h4><a href="recipes-detail.html">How to Remove Sulfites from Wine the Easy Way</a></h4>
                                <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Entertaining Section -->
        <!-- Subscribe Section -->
        <!-- End Subscribe Section -->
        <!-- Instagram Section -->
        <section class="instagram-section">
            <div class="auto-container">
                <!-- Title Box -->
                <div class="title-box">
                    <div class="profile"><span class="fa fa-pinterest"></span> Follow On Pinterest </div>
                </div>
            </div>

            <div class="instagram-carousel owl-carousel owl-theme owl-loaded owl-drag">

                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->
                <!-- Instagram Block -->


                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1797px, 0px, 0px); transition: all 0.5s ease 0s; width: 5393px;">
                        <div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-1.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-2.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-3.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-4.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-5.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-6.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-1.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-2.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-3.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-4.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-5.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-6.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-1.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-2.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-3.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-4.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-5.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-6.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-1.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-2.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-3.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-4.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-5.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 224.667px;">
                            <div class="instagram-block">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="images/resource/instagram-6.jpg" alt=""></figure>
                                    <!--Overlay Box-->
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="content">
                                                <a href="images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav"><div class="owl-prev"><span class="flaticon-left-arrow-1"></span></div><div class="owl-next"><span class="flaticon-right-arrow-2"></span></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
            </div>

        </section>
        <!-- End Instagram Section -->
        <!-- Main Footer -->


    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html" style="display: none;"><span class="fa fa-arrow-circle-up"></span></div>


</body>
