
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/shared/_layout.cshtml";
}
<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/images/background/10.jpg)">
            <div class="auto-container">
                <h1>YemekSende Hakkında</h1>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Product Form Section -->
        <!-- End Keyword Section -->
        <!-- About Section -->
        <section class="about-section">
            <div class="layer-one" style="background-image: url(/images/resource/category-pattern-1.png)"></div>
            <div class="layer-two" style="background-image: url(/images/resource/category-pattern-1.png)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="/images/resource/about.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">Hakkımızda</div>
                                <h2>Neden Buradayız?</h2>
                            </div>
                            <div class="bold-text">Sizlere Harika Lezzetler Tanıtmak İçin Buradayız.</div>
                            <div class="text">
                                <p> İki Ünivertiste öğrencisi tarafından yeni kurulmuş bir oluşumdur. </p>
                                <p> Amacımız, insanların evlerinde hangi yemeği yapmakta kararsız kaldığında burada bir çok yemek tarifini bulabileceği ve isterlerse başklarının işlerine kolaylık sağlamak için kendilerinin de yemek tarifi ekleyebileceği bir site sunmaktır.  </p>
                                <p>  Birbirinden Farklı Yöresel Lezzetlerle Kendinize Veya Sevdiklerinize Değer Katın... </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End About Section -->
        <!-- Founder Section -->
        <section class="founder-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3>YemekSende</h3>
                            <div class="bold-text">  </div>
                            <div class="text">

                                <p>İş çıkışı yorgun düştüğünüzde ve pratik bir yemek aradığınızda, misafirlerinize eşsiz bir şölen hazırlamak istediğinizde, yeni mutfaklar, yeni lezzetler ve yeni yöresel tarifler tatmak istediğnizde her zaman uğrayabileceğiniz yegâne adres<i><b> YemekSende</b></i>.</p>
                                <p>İstedğiniz zaman gelin ve farklı lezzetlerin tadını çıkartın. </p>
                               <p><i>Sizlere Kolaylık Sunmak İçin Buradayız.</i> </p>
                            </div>
                        </div>
                    </div>

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="images/resource/founder.jpg" alt="" />
                                <div class="year">15 <span>Years</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Founder Section -->
        <!-- Call To Action Section -->
        <section class="call-to-action-section" style="background-image:url(images/background/2.jpg)">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Column -->
                    

                    <!-- Column -->
                    

                </div>
            </div>
        </section>
       

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

</body>